
@{
    ViewBag.Title = "Index";
    HashSet<Web_NF_crud.Models.ModelView.ProductView> item = (HashSet<Web_NF_crud.Models.ModelView.ProductView>)ViewBag.data;

}

<h2>Index</h2>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
    </tr>
    @foreach{ 
        <tr></tr>
    }
</table>

